<div class="container">
  <h2 id='score'></h2>
  <div id="game-grid">
    <div class="grid-row">
      <div class="block"><div class="number"></div></div>
      <div class="block"><div class="number"></div></div>
      <div class="block"><div class="number"></div></div>
      <div class="block"><div class="number"></div></div>
    </div>
    <div class="grid-row">
      <div class="block"><div class="number"></div></div>
      <div class="block"><div class="number"></div></div>
      <div class="block"><div class="number"></div></div>
      <div class="block"><div class="number"></div></div>
    </div>
    <div class="grid-row">
      <div class="block"><div class="number"></div></div>
      <div class="block"><div class="number"></div></div>
      <div class="block"><div class="number"></div></div>
      <div class="block"><div class="number"></div></div>
    </div>
    <div class="grid-row">
      <div class="block"><div class="number"></div></div>
      <div class="block"><div class="number"></div></div>
      <div class="block"><div class="number"></div></div>
      <div class="block"><div class="number"></div></div>
    </div>
  </div>
</div>
