<div class="2048-container">
  <h2 id='score' align="center">Have Fun!</h2>
  <div id="game-grid">
    <button id="start-2048">New Game</button>
    <div class="grid-row">
      <div class="block"><div class="number"></div></div>
      <div class="block"><div class="number"></div></div>
      <div class="block"><div class="number"></div></div>
      <div class="block"><div class="number"></div></div>
    </div>
    <div class="grid-row">
      <div class="block"><div class="number"></div></div>
      <div class="block"><div class="number"></div></div>
      <div class="block"><div class="number"></div></div>
      <div class="block"><div class="number"></div></div>
    </div>
    <div class="grid-row">
      <div class="block"><div class="number"></div></div>
      <div class="block"><div class="number"></div></div>
      <div class="block"><div class="number"></div></div>
      <div class="block"><div class="number"></div></div>
    </div>
    <div class="grid-row">
      <div class="block"><div class="number"></div></div>
      <div class="block"><div class="number"></div></div>
      <div class="block"><div class="number"></div></div>
      <div class="block"><div class="number"></div></div>
    </div>
  </div>
</div>
