/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  margin:0;
  padding:0;
  height:100%;
  /*background-color: #F5FFFA;*/
}
h1{
  color: #506D94;
  position: absolute;
  float: left;
  font-size: 3em;
  margin: 0.3em 4.5em;
  font-family: 'Lobster', cursive;
  top: 0.45em;

}
h2{
  font-size: 2em;
  font-family: 'Abel', sans-serif;
}

nav{
  width: 100%;

  margin: auto;
}
nav li a{
  color: #FA9DCD;
}

nav ul li{
  display: inline-block;
  position: relative;
  top: 2.7em;
  float: right;
  right: 23em;
  margin-right: 2em;
  background-color: white;
}
nav ul li a{
  text-decoration: none;
  display: inline-block;
  padding: 8px 15px 8px 15px;
  font-family: 'Maven Pro', sans-serif;
  font-size: 17px;
}
nav ul a:hover{
  color: #4682B4;
}

header{
  display: inline-block;
  height: 87px;
  background-color: white;
  margin: 0 auto;
  width: 100%;
  border-bottom: 3px solid #B0C4DE;
}
a{
  text-decoration: none;
}
h1 a{
  color: #506D94;
}
h1 a:hover{
  color: #5E80AD;
}
h3 {
  font-family: "Coming Soon", "Comic Sans MS", "Comic Sans MS", sans-serif;

}
#introduction {
  font-family: "Coming Soon", "Comic Sans MS", "Comic Sans MS", sans-serif;
  width: 70%;
  border-bottom: 1px solid #B0C4DE;
  padding: 2em;
}
#introduction-container{
  margin-top: 10em;
}

h3{
  font-family: HanziPen, helvetica, arial, sans-serif;
}
#introwords{
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  font-family: "Coming Soon", "Comic Sans MS", "Comic Sans MS", sans-serif;
  font-size: 25px;
  color: #708090;
  padding-bottom: 350px;
}

#aboutmecontent{
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  font-family: "Coming Soon", "Comic Sans MS", "Comic Sans MS", sans-serif;
  font-size: 15px;
  color: #708090;
  padding-bottom: 350px;
}

.portfolio{
  width: 40%;
  margin-right: auto;
  margin-left: auto;

  font-size: 15px;
  color: #708090;
  padding-bottom: 350px;
}
.entries li a{
  font-family: "Coming Soon", "Comic Sans MS", "Comic Sans MS", sans-serif;
  color: #4682B4;
}
.entries li a:hover{
  color: #FF69B4;
}


#cheatsheet{
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  font-family: "Coming Soon", "Comic Sans MS", "Comic Sans MS", sans-serif;
  font-size: 25px;
  color: #708090;
  padding-bottom: 200px;
}

table{
  border-spacing: 0px;
  border: 2px solid #B0C4DE;;
}
th, td{
  padding: 7px;
  border: 1px solid #B0C4DE;;
}
th{
  background-color: #B0C4DE;
}

#footerCont{
  position: absolute;
  bottom: 0px;

  text-align: center;
  background-color: #E6E6FA;
  border-top: 2px solid #B0C4DE;
  padding: 20px 5px 20px;
  height: 250px;
  width: 100%;

}

.footer{
  position: relative;
  display: inline-block;

  border: 1px solid #B0C4DE;
  border-left: 4px solid #ADD8E6;
  padding-left: 30px;
  width: 25%;
}




#footerCont .footer ul li, #footerCont .footer ol li{
  display: block;
  text-align: left;

}

#footerCont .footer ul li a, #footerCont .footer ol li a{
  color: #4682B4;
  font-family: 'Maven Pro', 'Coming Soon',"Comic Sans MS", sans-serif;
}
#footerCont .footer ul li a:hover, #footerCont .footer ol li a:hover{
  color: #FF69B4;
}

#footerCont .footer h3{
  font-family: 'Coming Soon',"Comic Sans MS", sans-serif;
  color:#4682B4;
}




#footerCont .footer ol{
  counter-reset: li;
}

#footerCont .footer ol > li:before {
  position: relative;
  right: 10px;
  content: counter(li);
  counter-increment: li;
  font-family: 'Maven Pro', 'Coming Soon',"Comic Sans MS", sans-serif;
  color:#FF69B4;
  font-size: 20px;
}

