.hs-wrapper{
  width: 600px;
  height: 375px;
  position: relative;
  margin: 2em auto;
  overflow: hidden;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
}

.hs-wrapper img{
  top: 0px;
  left: 0px;
  position: absolute;
  -webkit-animation: showMe 7.5s linear infinite 0s forwards;
  -moz-animation: showMe 7.5s linear infinite 0s forwards;
  -o-animation: showMe 7.5s linear infinite 0s forwards;
  -ms-animation: showMe 7.5s linear infinite 0s forwards;
  animation: showMe 7.5s linear infinite 0s forwards;
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  -ms-animation-play-state: paused;
  animation-play-state: paused;
}


.hs-wrapper img:nth-child(1){
  z-index: 9;
}
.hs-wrapper img:nth-child(2){
    -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  -o-animation-delay: 1.5s;
  -ms-animation-delay: 1.5s;
  animation-delay: 1.5s;
  z-index: 8;
}
.hs-wrapper img:nth-child(3){
    -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  -o-animation-delay: 3s;
  -ms-animation-delay: 3s;
  animation-delay: 3s;
  z-index: 7;
}
.hs-wrapper img:nth-child(4){
    -webkit-animation-delay: 4.5s;
  -moz-animation-delay: 4.5s;
  -o-animation-delay: 4.5s;
  -ms-animation-delay: 4.5s;
  animation-delay: 4.5s;
  z-index: 6;
}
.hs-wrapper img:nth-child(5){
    -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  -ms-animation-delay: 6s;
  animation-delay: 6s;
  z-index: 5;
}

.hs-wrapper:hover img{
  -webkit-animation-play-state: running;
  -moz-animation-play-state: running;
  -o-animation-play-state: running;
  -ms-animation-play-state: running;
  animation-play-state: running;
}

.hs-overlay{
  opacity: 1;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  /*opacity: 0;*/
  z-index: 500;
  background: rgba(92,123,164, 0.9);
  box-shadow: 0 0 0 0 rgba(255,255,255,0.3) inset;
  pointer-events: none;
  -webkit-transition: all 3s linear;
  -moz-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -ms-transition: all 0.3s linear;
  transition: all 0.5s linear;
}

.hs-footer{
  opacity: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 12%;
  /*opacity: 0;*/
  z-index: 500;
  background: rgba(92,123,164, 0.9);
  transition: all 0.5s linear;
}

.hs-overlay span{
  font-family: 'Cabin Condensed', sans-serif;
  text-shadow: 1px 1px #182F4D;
  margin: 0.5em auto;
  display: block;
  padding: 20px;
  position: absolute;
  width: 100%;
  color: #fff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1.56em;
  text-align: center;
  pointer-events: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hs-overlay span h4, .hs-footer a{
  color: white;
  font-size: 1.3em;
  margin: 8px;
  font-family: 'Lobster', cursive;
}
.hs-footer a{
  font-size: 2.1em;
}

.hs-wrapper:hover .hs-overlay{
  opacity: 0;
  box-shadow: 0 0 0 5px rgba(255,255,255,0.3) ,
  inset 0 0 0 16px rgba(92,123,164,0.1);
}

.hs-wrapper:hover .hs-footer{
  opacity: 1;
}


@-webkit-keyframes showMe {
    0% { visibility: visible; z-index: 100; }
  20% { visibility: visible; z-index: 100; }
  50% { visibility: hidden; z-index: 0; }
    100% { visibility: hidden; z-index: 0; }
}

@-moz-keyframes showMe {
    0% { visibility: visible; z-index: 100; }
  20% { visibility: visible; z-index: 100; }
  50% { visibility: hidden; z-index: 0; }
    100% { visibility: hidden; z-index: 0; }
}

@-o-keyframes showMe {
    0% { visibility: visible; z-index: 100; }
  20% { visibility: visible; z-index: 100; }
  50% { visibility: hidden; z-index: 0; }
    100% { visibility: hidden; z-index: 0; }
}

@-ms-keyframes showMe {
    0% { visibility: visible; z-index: 100; }
  20% { visibility: visible; z-index: 100; }
  50% { visibility: hidden; z-index: 0; }
    100% { visibility: hidden; z-index: 0; }
}

@keyframes showMe {
    0% { visibility: visible; z-index: 100; }
  20% { visibility: visible; z-index: 100; }
  50% { visibility: hidden; z-index: 0; }
    100% { visibility: hidden; z-index: 0; }
}
